/* Cores personalizadas */
:root {
  --cor-fundo: #f8f9fa;
  --cor-cabecalho: #343a40;
  --cor-texto-cabecalho: #ffffff;
  --cor-link: #007bff;
  --cor-link-hover: #0056b3;
}

/* Estilo para o offcanvas */
.offcanvas {
  background-color: var(--cor-fundo);
  width: 300px;
}

.offcanvas-header {
  background-color: var(--cor-cabecalho);
  color: var(--cor-texto-cabecalho);
}

.offcanvas-title {
  font-size: 1.25rem;
}

.offcanvas-body {
  padding: 1rem;
}

.offcanvas-body ul {
  list-style: none;
  padding: 0;
}

.offcanvas-body ul li {
  margin-bottom: 0.5rem;
}

.offcanvas-body ul li a {
  color: var(--cor-link);
  text-decoration: none;
  transition: color 0.2s;
}

.offcanvas-body ul li a:hover {
  color: var(--cor-link-hover);
}

/* Estilos adicionais */
body {
  background: linear-gradient(to bottom, #00008B, #136fcb);
}

#barralateral {
  background-color: rgb(22, 22, 22);
}

#barranav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

/* Estilo para a seção do carrossel */
#carrossel {
  position: relative;
  height: 450px;
}

/* Estilo para o overlay de loading */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo cinza escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* Estilo para a bolinha girando */
.spinner {
  border: 4px solid #f3f3f3; /* Cor da borda */
  border-top: 4px solid #9C1212; /* Cor da bolinha */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite; /* Animação de rotação */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}