/* Variáveis de cores e fontes */
:root {
  --cor-primaria: #ad3315;
  --cor-secundaria: #367c39;
  --cor-fundo: #121212;
  --cor-texto: #FFFFFF;
  --fonte-primaria: 'Roboto', sans-serif;
}

/* Estilos gerais */
body {
  font-family: var(--fonte-primaria);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabeçalho */
header {
  background-color: #1c1c1c;
  border-bottom: 3px solid var(--cor-primaria);
}

/* Temas */
.light-theme {
  background-color: #e9e9e9;
  color: #2C2F33;
  transition: 1s;
}

.dark-theme {
  background-color: #23272A;
  color: var(--cor-texto);
  transition: 1s;
}

/* Toggle de tema */
.theme-toggle {
  cursor: pointer;
}

/* Navegação */
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Conteúdo principal */
main {
  width: 100%;
  max-width: 100%;
}

main h2{
  display: flex;
  justify-content: center;
}

#infoJogadortittle {
  margin-left: 25px;
}

#atributostitlle {
  margin-right: 30%;
}

#titulos {
  display: flex;
  justify-content: space-between;
}

#atributos {
  width: 65%;
  height: 70%; 
  gap: 7px;
}

#salvar {
  margin-left: 45%;
}

/* Seções */
section {
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
}

section h2 {
  margin-bottom: 10px;
  text-align: center;
}

/* Formulários */
label {
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botões */
button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

/* Ícones */
.icon {
  margin-right: 5px;
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* Estilos para os atributos */
.attribute-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.attribute-group,
.bonus-group {
  display: flex;
  flex-direction: column;
}

/* Formulários */
.form-label {
  font-weight: bold;
}

.form-control {
  background-color: transparent;
}

/* Estilos gerais para os inputs */
input[type="number"],
input[type="text"] {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: 3px solid #ccc;
  font-size: 16px;
  background-color: transparent;
}

.light-theme input[type="text"],
.light-theme input[type="number"] {
  color: #2C2F33;
}

.dark-theme input[type="text"],
.dark-theme input[type="number"] {
  color: var(--cor-texto);
}

/* Estilos específicos para os bônus */
.bonus-group label {
  margin-bottom: 5px;
}

/* Estilos para o section de bônus */
#bonus {
  gap: 20px;
  margin-top: 20px;
  font-size: x-large;
}

#bonus h2 {
  order: -1;
}

#bonus-total {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#bonus p {
  margin: 5px;
}

/* Estilos gerais para h2 */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Remover barras de rolagem */
::-webkit-scrollbar {
  width: 0px;
}
